[2013-05-24 06:13] ffaridi1 opened #1 "Paypal Here login credentials"
Hi,
Is it possible to provide login credentials to paypal Here application , so that I donot have to every time login to paypal Here application?
If this could be done, then it is the ultimate solution I have been looking for.
I have many clients with paypal accounts and I am trying to develop a kiosk for them to take donations from their donors, the last missing piece is that I have to always log

[2013-12-09 09:10] glaidler opened #2 "username and password passing"
When using the iPhone app on iPad (makes UI bigger/easier for people in challenging environments), passing the user & password parameters to auto-log the person in causes the app not to receive the amount / product information.

[2013-12-09 09:11] glaidler opened #3 "Check payment method causes internal bug"
Using iphone app on ipad (iOS7).  When you select "check" as a payment type, the next transaction fails to know anything about product & price.

[2013-12-09 09:12] glaidler opened #4 "payerPhone and payerEmail don't pre-populate receipt boxes"
iphone app on ipad (iOS7), called from web.  If payerEmail and payerPhone url parameters are passed, these aren't used to pre-populate the SMS & Email receipt boxes.  This would save significant time.

[2014-04-20 06:03] ghost opened #5 "Keynote link in readme is dead..??"
I'd love to watch the keynote you mention in the readme file here, but it leads to a dead page.

http://www.slideshare.net/PayPalEUDevs/mwc-keynote

[2014-06-18 19:05] casom13 opened #6 "Cannot get the 'result' to pass back"
I am creating a php integration for a shopping cart plugin I am working with.

Once the payment is complete, the app passes it back to browser with everything except the result. I have tried changing the position of the {result} section. Here is how I would like to see it, and what i have tried.

My callback info (would work best for me) - "&result={result}&Type={Type}&InvoiceId={InvoiceId}&Tip={T

[2014-06-19 15:26] #6 closed, assigned to nobody

[2014-06-25 06:06] ffaridi1 opened #7 "Buyer name in return URL"
Hi,
Is there a way to get Buyer/card holder name from the credit card swipe data and obtain it in calling App in form of return URL (Just like InvoiceId is sent back to app) ?

[2014-07-11 15:37] #5 closed, assigned to nobody

[2014-07-11 15:38] #3 closed, assigned to nobody

[2014-07-11 15:41] #2 closed, assigned to nobody

[2014-07-11 15:42] #1 closed, assigned to nobody

[2014-07-14 17:27] #4 closed, assigned to nobody

[2014-09-20 15:37] tarunchhn opened #11 "parallel payments using paypal here"
Is there going to be a support for parallel payments (for partnerships) in sdk/app?

[2014-10-20 16:27] jaredegan opened #12 "Consolidate value for "Type" in return URLs."
Currently the value for "Type" in return URLs differ between iPad, iPhone and potentially Android. They should be consolidated to be the same list, and we should update the documentation to reflect this.

Documentation is here: https://github.com/paypal/here-sideloader-api-samples/blob/master/docs/README.md

[2014-11-08 10:14] planetcoops opened #13 "Callback URL: Tip={Tip} Please distinguish between percentage and monetary amount"
From the callback URL we are unable to tell whether the returned Tip is a percentage or a monetary amount.

Is 10.52, 10.52% or 10.52 in currency?

Until this issue is resolved we will have to ignore the returned tip altogether.

[2014-11-08 10:24] planetcoops opened #14 "Callback URL: Please consider adding the applied discountPercent to the URL (Feature Request)"
We have customers who like to modify the passed invoice within PayPal Here to apply or amend a loyalty discount.  Please would you consider including the discountPercent in the callback URL?

&DiscountPercent={DiscountPercent}

[2014-11-11 17:41] hshafique opened #15 "return to sender app after timeout period"
I have an iOS app that allows users to buy items and make a payment on there own using paypal here app. The following work flow takes place:
1 - user interacts with my app which allows them to select items and make a payment
2 - when they checkout paypal here gets launched
3 - they make the payment or press cancel and they are returned to my app

If the user never executes step 3, the paypal here

[2014-11-30 10:18] #13 closed, assigned to nobody

[2015-02-05 20:00] pcobas opened #18 "Payment declined not returning type "Unknown""
Sometimes the Paypal Here app  declines a payment and does not return the Type as Unknown, as it does most of the times

An example of this can be seen in  the following response (a declined payment in the Paypal Here app):
"Type=CHIP&InvoiceId=INV2-B8C7-PH8B-R23S-3WLV&Tip=0&Email=&TxId="

[2015-02-05 20:49] jaredegan commented on #18
Thanks for reporting this. We already have this filed, and are looking to include the fix in our 2.4 releases, which should be out before the end of the month.

[2015-02-05 21:12] jaredegan commented on #12
Android & iOS are now consistent.

[2015-02-05 21:12] #12 closed

[2015-02-06 17:19] jaredegan commented on #18
This will be fixed in the 2.4 versions of the iPad & iPhone apps. Also mind that the casing of "Unknown" (along with all the values) has changed to be all caps: "UNKNOWN".

[2015-02-15 19:44] Mek0n opened #19 "Invoice line item discount"
While overall discount works great, we have a situation in our android app that necessitates that certain invoice line items receive a percentage or amount discount.

Is this feature likely to be introduced?

Many thanks

[2015-02-23 04:19] jaredegan commented on #19
@Mek0n I'll take your request to our product owner. The math on the PayPal invoice wouldn't match your order details or backend, but currently, you could edit the invoice you send to the sideloader "just in time" and make the math equal with the one discount field.

[2015-02-27 17:36] mcn100 opened #21 "iOS PayPalHere return ignores "number" field in supplied invoice"
Hope you can help.

I'm supplying a "number" field in the invoice json object that goes to PayPalHere app. When returning from PayPalHere on iOS the return URL is missing the "number" that is supplied in the invoice. I've checked the  json invoice to be valid json (This all works OK on the Android version of the app).

Is this a bug?

From the documentation
"Note: In the JSON input object (contain

[2015-03-02 20:38] Mek0n commented on #19
@jaredegan Thanks for the reply, the problem I see with your suggestion is the penny rounding situation where VAT is calculated line by line and half penny round up is used according to HMRC. We may get a few discrepancies here and there which I don't believe our end users should have to explain to their customers.

For the mean time we will give the ability to add a descriptive line that indicate

[2015-03-19 14:23] jaredegan commented on #21
Hi, do you have the "{InvoiceId}" string present in your return URL?

[2015-03-19 14:23] jaredegan commented on #18
2.4 has been released. Please reopen if this is still happening.

[2015-03-19 14:23] #18 closed

[2015-03-19 16:46] mcn100 commented on #21
Yes - InvoiceId is present and being populated in the return URL.
Using the same code base and supplying similar parameters -  running on Android I get back:

Type=CARD&Number=MCN100Y6F535614&InvoiceId=INV2-HDIY-4LJG-GL9V-Q9G5&Email=test.person@xyz.com

Running on iOS I get back:

Type=CARD&InvoiceId=INV2-UDKO-DJFY-BBWP-2AFF&Tip=0&Email=&TxId=

For the iOS app I need the supplied 'Number' field to

[2015-03-19 20:21] jaredegan commented on #21
OK, can you paste me an example of a full `paypalhere://` URL you use to trigger this on iOS?

[2015-03-19 20:46] jaredegan commented on #21
Your return URL should have a `{Number}` key. On iOS we don't append extra parameters, I'm surprised that Android does that. Please let me know if that works and a full URL example.

[2015-03-19 22:00] dacology commented on #21
I am seeing the same thing. All ok on Android, but no details in response
on iOS (not sure if it is iOS or Safari issue?), I only get the invoice
number back, no {number} or other.

As I am just prototyping for now, I ignored this and am just testing on
android, but interested in this if others are seeing it.

Below is my url with return url and emails modified to remove my info.

paypalhere://tak

[2015-03-20 00:12] jaredegan commented on #21
Sorry, I could have been more specific. I meant when you _send_ your return URL, it should have the text `{Number}` in it, which will get replaced. Try changing your return URL from

`returnUrl=http://example.com/PaypalReturnUrl?{result}?Type={Type}&InvoiceId={InvoiceId}&Tip={Tip}&Email={Email}`

to be

`returnUrl=http://example.com/PaypalReturnUrl?{result}?Type={Type}&InvoiceId={InvoiceId}&Tip={T

[2015-03-20 13:24] dacology commented on #21
Great, this really helps, I now get back the InvoiceID. There are still
missing some data though. On Android I get back Email but not on iOS.
Is &Email={Email}
correct?

So in the examples (that I used) we are given this:
var retUrl = encodeURIComponent(returnUrl +
"?{result}?Type={Type}&InvoiceId={InvoiceId}&Tip={Tip}&Email={Email}&TxId={TxId}");

but it needs to be this:
var retUrl = encodeURICo

[2015-03-20 16:13] mcn100 commented on #21
Hi Jared,
Thanks for looking into this.

Appending &Number={Number} to the end of the return URL causes the iOS app to return nothing.

The android version behaves the same regardless of whether &Number={Number} is present or not ie Number comes back as expected and InvoiceId comes back populated

I also tried changing ?{result}?Type={Type}  to ?{result}&Type={Type} as suggested by David but that

[2015-03-24 09:34] mcn100 commented on #21
Hi Jared

My error- I have now got the URL returning the number field by adding &Number={Number} to the return URL :)
I was using a pipe symbol "|" in the number string as a separator which was confusing the iOS app. When I removed the pipe, the number came back in the URL. (Android version was not affected either way)

Many thanks for your help in sorting this.

[2015-04-14 17:59] #21 closed

[2015-04-14 19:47] dacology opened #22 "Return the total amount paid"
At the moment the response does not return the amount paid. We send an invoice with a total value of say $123, it is possible that within PayPal Here we take a partial payment of $100. The sideloaded app is not aware of this discrepancy, is it possible to add this to the response? Or am I missing something?

&TotalPaid={TotalPaid}

[2015-04-14 20:57] jaredegan commented on #22
It seems that you may have discovered a bug. Can we get some more information? Are you using iOS, Android or Windows? What version of the app? Can you break down the workflow that happens in this case? My assumption is:

- Your app opens PPH with an order of $125
- The user edits the order by removing some items or rebuilding the cart, making the order total $100
- The user completes the order
- {

[2015-04-20 17:30] dacology commented on #22
Yes this usecase is correct, except that {TotalPaid} is not returned. The request is: can we add total paid to the response to provide visibility of the final amount?

- I am testing on android and iOS.
- I not rebuild the order, but just pay a lesser amount.

[2015-04-24 22:27] dacology opened #23 "auto login to PayPalHere"
It would be great if we could pass the user/creds over to the paypalHere app from the requesting app, so that we don't have to login to paypal here eachtime manually?

Is this possible? I know payleven device allows this, so there must be a way to consider it secure?

[2015-06-12 16:45] cristoslc opened #24 "Put Paypal Here in test mode"
I can't find any documentation on how to set Paypal Here to sandbox or test mode, so that I can test my callback URL without having to spend actual money.

[2015-06-12 21:39] jcorning99 opened #25 "Number not being returned in InvoiceId parameter, other issues"
I've been experimenting with the WEB sample code, which I modified only slightly.  The relevant code is copied below.

According to the documentation, the value that I provide in the "number" field of the invoice is supposed to be returned as the "InvoiceId" parameter of the return URL.  But that is not the case.  When I complete the transaction, the return URL contains a PayPal-generated invoice

[2015-06-16 00:44] cristoslc opened #26 "issues with callback URL if invoiceID is base64-encoded"
If `as=b64` is on for the invoice, the callback URL does not work correctly (the protocol gets called, but other information seems to get lost). Specifically encountered this problem using the "fmp://" protocol for FileMaker Go.

Removing "as=b64" and URL-encoding the JSON invoice appears to resolve the problem.

[2015-06-16 13:01] jaredegan commented on #26
mmm, strange. We will look into this.

[2015-06-16 13:09] jaredegan commented on #24
This currently is not possible, but it's an interesting request. In the meantime, I'd recommend just testing with cash payment since no actual money is moved. Additionally, you can charge the credit card minimum of $1 and then refund every transaction. I end up doing that quite a lot on my own account. I think even the 2.7% processing fee gets refunded to your merchant account, but I'm not 100% su

[2015-06-16 15:13] cristoslc commented on #26
Let me know if you'd like to schedule a screen share for me to demo/repro. I'm monitoring this thread, or you can email me at cristos@cristoslc.com. Thanks for looking into it!

[2015-06-22 18:01] ppmtscory commented on #25
@jcorning99 I'm confirming something internally here with @jaredegan so that I'm clear before providing your answer.

As for your multiple tabs question, that would be something that you'd need to code on your end.  With my sample code I use, I just simply show a 'Success' or 'Failure' on the return URL with an 'OK' button.  Once that 'OK' button is clicked, I simply close that tab in the browser.

[2015-06-22 18:36] jcorning99 commented on #25
Is there any way to get it to specify a target window name when it returns to my site?  Like “target=PayPalClient”?  So that if a browser window is already open with that name, it would just re-use that window rather than opening a new one?

-jc

From: Cory [mailto:notifications@github.com]
Sent: Monday, June 22, 2015 2:01 PM
To: paypal/here-sideloader-api-samples
Cc: jcorning99
Subject: Re: [here

[2015-06-22 18:41] ppmtscory commented on #25
@jcorning99 I'm not aware of a way to do that, no.

[2015-06-25 16:10] jaredegan commented on #25
@jcorning99 Sorry for the late response. I've checked this out and reproduced your situation, thanks for the detailed notes. The documentation is a little vague, and I can understand the confusion. The value in number actually does get passed back to you, but it's in the `Number` parameter. If you switch to that value you'll be able to accomplish what you need to. I have clarified the documentatio

[2015-06-25 16:10] #25 closed

[2015-06-25 16:35] jaredegan commented on #26
Sorry this response is so delayed. Looking into this today. If you could share with me the specific information getting lost and a sample URL that is getting generated, that will help me look into this.

[2015-06-25 21:36] jaredegan commented on #22
Ah, I understand the ask now. I'm adding this to the backlog and will get back to this thread once it's in a pending version. Unfortunately it will likely be over a month before we can get this change live.

[2015-07-06 18:21] jcorning99 commented on #22
Would it also be possible to add a way to return the Net Paid Amount, i.e., the total amount paid less the PayPal fee?   Or to return the PayPal fee as a separate value?  if so, how soon could this be implemented?

[2015-07-13 20:00] jaredegan commented on #22
I'd added this functionality, it will go live with PayPal Here version 2.5, which is targeted for early August release.

I've updated the docs: https://github.com/paypal/here-sideloader-api-samples/blob/master/docs/README.md

The text to use that will get replaced is `{GrandTotal}`

I'll ping this thread and close the issue once the release is out.

@jcorning99 The PayPal fee is actually not expos

[2015-07-13 20:38] dacology commented on #22
Great... Thanks
On Mon, 13 Jul 2015 at 23:00, Jared Egan <notifications@github.com> wrote:

[2015-07-30 19:23] jcorning99 opened #27 "Option To Prevent User From Changing Invoice Amount"
I've developed a web application that interfaces with PayPal Here using the Sideloader api.  My application allows the user to fill a shopping cart with items.  When they click the button to pay via credit card, I save all of the order details in our database before sending the invoice to PayPal Here.  Once the payment is completed in PayPal Here, I reduce the inventory of the items that were sold

[2015-08-17 19:25] rdantonio commented on #22
Will this work in Android as well? It seems to work well in iOS as of 2.5, but does not work in Android 2.5.1 (unless I'm doing something wrong).

Thanks!

[2015-08-17 19:35] jcorning99 commented on #22
I haven’t gotten it to work correctly in Android yet.

With Android on a Samsung Galaxy S5 I was able to transfer control to PayPal Here.  It picked up all of the invoice information correctly and processed a credit card payment, but it would not transfer control back to my return URL.

Is that the same behavior that you’ve seen?

Regards,

John

From: rdantonio [mailto:notifications@github.com]
S

[2015-08-17 19:56] rdantonio commented on #22
John,

I don't think so. I am running into a few other issues with the 2.5.1 release of Android, but it does transfer control back to my application after processing is done. The filled-in returnUrl just doesn't have the GrandTotal argument like the iOS one has (it's also missing a few other fields like Tip and Email, but I think this might be because they are empty anyway?).

[2015-08-17 20:53] jaredegan commented on #22
Looking into it, will get back to you

[2015-08-17 21:26] lernerb commented on #22
@rdantonio @dacology Can you give me an example URL that you are sending?

This seems most likely an issue with the `v1` vs `v2` android API -> https://github.com/paypal/here-sideloader-api-samples/pull/20

[2015-08-17 21:42] lernerb commented on #22
Also @rdantonio, what `other issues` are you running into with the 2.5.1 release of Android? Can take a look into them.

[2015-08-17 21:42] rdantonio commented on #22
@lernerb Here's what I'm using for return URL in my Android application:

String returnURL = URLEncoder.encode("testscheme://paymentResult?Type={Type}&InvoiceId={InvoiceId}&Tip={Tip}&Email={Email}&TxId={TxId}&Number={Number}&GrandTotal={GrandTotal}", "UTF-8");

Based on the v2 API should I be doing "testscheme://paymentResult/v2?Type={Type}&InvoiceId={InvoiceId}&Tip={Tip}&Email={Email}&TxId={TxId}

[2015-08-17 21:51] rdantonio opened #28 "Android: Consecutive sideloader transactions failure"
My scenario is that I do transaction A and it launches PayPal from cold start. I log in, complete the transaction, and it goes back into my application.

I then do a second transaction B and PayPal does a warm launch which does not require me to log in. Nothing from my paypalhere: call invoice is populated and it just has an empty "New sale" screen with 0.00 balance.

If I do transaction A and kil

[2015-08-17 22:28] lernerb commented on #22
@rdantonio I've made the change to support `{GrandTotal} on the Android PPH side.

I'll keep you informed when this build goes out and will update this thread, and will also update the README to reflect the version {GrandTotal} is added in Android vs. iOS.

[2015-08-18 01:30] lernerb commented on #28
I'm able to reproduce this. Will take a deep dive into it and will report back with an update.

[2015-08-18 14:04] rdantonio commented on #28
Great, thank you!

[2015-08-18 15:40] rdantonio commented on #28
I just reported a crash to the Play Store, not sure if it's related to this. I switched to using the v2 API for this one using this URL: paypalhere://takePayment/v2?accepted=...&returnUrl=...&invoice=...

Starting with the scenario above:

From here, I hit the back button and got the logout prompt. I hit OK and was taken back to my application (with an UNKNOWN Type). I then immediately ran another

[2015-08-18 15:46] lernerb commented on #28
@rdantonio I was able to reproduce that crash yesterday, I'm working on a fix that along with the behavior you noted in the original post. Thanks for the report!

[2015-08-18 16:46] rdantonio opened #29 "Discount is lost when going back to item list"
I tested this on Android, but have not had a chance to test on iOS yet.

I have an invoice that I am passing discountAmount on the invoice level (I tested and this also happens with discountPercent).

The discount is properly applied to the invoice initially, but if I click Charge to open the payment method chooser and then dismiss the chooser without selecting an option by using the "X", the disc

[2015-08-18 16:49] lernerb commented on #29
While logged in on Android, can you go to your settings page and let me know if the discounts switch is turned to `on` or `off`?

I'll add this to our backlog & investigate.

[2015-08-18 16:54] rdantonio commented on #29
Oops, that did the trick. It was off. Would it be possible to turn it on automatically if discountAmount or discountPercent is passed through the API?

If not I think the discount shouldn't be applied initially then, to avoid confusion?

[2015-08-18 16:55] lernerb commented on #29
Thought that would do it :) I'll bring this up with our product team.

[2015-08-18 16:55] rdantonio commented on #29
Awesome, thank you!

[2015-08-18 21:20] rdantonio commented on #29
I ran a quick test on iOS. In the settings, I left Discount set to "off".

When I posted my transaction to HERE, it displayed the Discount line as if the Discount setting was set to "on" and everything behaved as expected (the discount did not get cleared when "X"ing out the payment method selector). Once the transaction was complete, further transactions in HERE independent of sideloader APIs did

[2015-08-18 21:22] lernerb commented on #29
Just to confirm, you turned the `discount` switch to `off` before you ran this test?

[2015-08-18 21:22] rdantonio commented on #29
Correct. I turned the Discount switch to off, killed the app, relaunched, verified that it was still off, then ran the test (just to be absolutely 100% sure).

[2015-08-20 20:34] lernerb commented on #28
Hi @rdantonio, we have a fix on the way for this issue! I'll keep this thread updated with the build # and build version when the release is going out..

PPH Android will now properly populate an invoice through sideloader if you're previously logged in, and should not crash on logout.

[2015-08-24 15:06] rdantonio commented on #28
Great, thank you so much! All the help has been much appreciated.

[2015-08-31 14:11] lernerb commented on #28
Hi @rdantonio , the 2.5.2 build is now published on google play. Please let us know if we've resolved this issue for you.

[2015-09-08 14:00] jcorning99 opened #31 "IPN is not consistently passing along the "number" value in its "invoice_number" field"
I am using the PayPal Here Sideloader API to integrate PayPal Here with my web-based software for Boy Scout and Girl Scout troops.

In testing the interface I discovered that the "number" value that I passed to PayPal Here would be returned as the "invoice_number" field on the Instant Payment Notification (IPN).   This gave me exactly what I needed to identify the original transaction so I could p

[2015-09-08 14:15] jaredegan commented on #31
@jcorning99, some questions:

Main question:
- Can you ensure that the the "Merch.1220.25.1" type values are unique when you pass them? I believe if you pass our invoicing service a number that has already been used, it will come up with it's own, and start auto-incrementing. This is the best guess I have right now. I would guess that "Merch.1220.25.1" has been passed through 4 or 5 times, which i

[2015-09-08 14:34] jcorning99 commented on #31
Jared,

Thank you for responding so quickly.

I can guarantee that the "Merch.1220.25.1" type values are unique, not only for the current users but across all users of our application.   Before we pass control to PayPal Here we insert a record into our database with the details of this specific order.  The “25” in the example is the identity key value of this record.  The next order they process w

[2015-09-08 16:42] jaredegan commented on #31
This seems very much like an integration issue, not a bug with PPH. Am I right to assume you built the system the customer is using? Are you hosting it? How does it differ from the system you used to successfully test this?

We don't have any sort of logs we can check on our side. Could you get us the URL that triggers the PPH app to open?

[2015-09-08 17:41] jcorning99 commented on #31
Jared,

The customer is using the same software on the same server that I used for my testing.  You can run it yourself at https://www.TroopWebHost.org/TroopABC.  Log on as user “demo” with a password of “demo”.

Once you’ve logged on, find the “Sales” menu and select “Booth Sales”.  Select the existing booth and click on a product to create an order, then click the “Card” button to initiate PayPa

[2015-09-08 18:35] jaredegan commented on #31
@jcorning99 Alright, it does indeed seem to be a PPH bug. Good find.

It seems that if tips are enabled, the process of setting the tip clears the number value, which the server than fills in on its own with its auto-incrementing values. So I'm guessing in your tests, you had Tips off, and this customer has Tips on.

Please instruct the user to turn off tips in PPH and give it another try. Please

[2015-09-08 22:13] jcorning99 commented on #31
Jared,

Thank you for tracking this down so quickly.  I will advise my customers to turn off tips.

Regards,

John

From: Jared Egan [mailto:notifications@github.com]
Sent: Tuesday, September 8, 2015 2:36 PM
To: paypal/here-sideloader-api-samples
Cc: jcorning99
Subject: Re: [here-sideloader-api-samples] IPN is not consistently passing along the "number" value in its "invoice_number" field (#31)

@

[2015-09-09 21:01] jaredegan commented on #31
@jcorning99 Any news from the user?

[2015-09-09 21:44] jcorning99 commented on #31
Jared,

Yes, the user turned off tips and the completed payment successfully posted via IPN.

Thanks again for figuring this out.

Regards,

John

From: Jared Egan [mailto:notifications@github.com]
Sent: Wednesday, September 9, 2015 5:02 PM
To: paypal/here-sideloader-api-samples
Cc: jcorning99
Subject: Re: [here-sideloader-api-samples] IPN is not consistently passing along the "number" value in it

[2015-09-14 16:16] lernerb commented on #28
@rdantonio Can you confirm that the new live build fixes your issue, so I can mark this as resolved?

[2015-09-14 16:40] jaredegan commented on #31
This fix will be live in version 2.6, shipping early October.

In the meantime, the confirmed workaround is to disable tips.

[2015-09-14 16:40] #31 closed

[2015-09-14 16:42] jaredegan commented on #26
Ping. Is this still an issue, or are you still pursuing this integration? If so, please provide as much info as you can, specifically:

- Sample `paypalhere://` URL
- Platform (iOS or Android)

[2015-09-14 18:46] jcorning99 opened #32 "Card reader stops working after first payment"
We are seeing an intermittent problem with the card reader operation in PayPal Here using the sideloader API from a web-based application.

The card reader works find on the first payment transaction after logging on to PayPal Here, but on subsequent payments it may stop recognizing the card scan.  In our tests we are using the same credit card for every transaction, so the credit card that succee

[2015-09-14 21:46] lernerb commented on #32
Hi John,

Can you let me know what version of PayPal Here is being sideloaded on the `Android Samsung Galaxy S5`?

We recently fixed an issue where multiple transactions in a row would start failing on Android.

[2015-09-16 14:13] cristoslc commented on #26
Thanks for following up, sorry for not replying earlier. We worked around it, and I haven't had time to rebuild the code in a "broken" state to verify and provide the `paypalhere://` URL for you. I will try to do that, but it probably won't be for another week or two -- since we have a functioning workaround (don't use base64 encoding), it's not a critical issue for us.

This was on the iOS platfo

[2015-09-23 13:22] glaidler opened #33 "(PLATFORM error 580022.) - Invalid request parameter: Payer Email cannot be blank"
We are getting the above intermittently with one of our customers.

Can you clarify what the validation rules are for payerEmail field - is it allowing empty strings but not null (the sample on Tim Messerschmit's blog has an emptry string), and considering the whole approach of paypal here, surely an email is not required?

https://devblog.paypal.com/paypal-here-sideloader-api/

[2015-09-23 13:33] lernerb commented on #33
Hi Graham,

Can you give us the following information to help us debug the issue:

* Platform: `iOS` or `Android`?
* What version of the app is the user using?
* Do you have an example request that reproduces the error?

[2015-09-23 13:35] lernerb commented on #33
If you look at our documentation [here] (https://github.com/paypal/here-sideloader-api-samples/blob/master/docs/README.md) we note the validation rule that you are looking for:

[2015-09-23 13:38] glaidler commented on #33
Many thanks - sure that wasn't there before, but may well be wrong.

[2015-09-23 13:38] #33 closed

[2015-09-23 13:39] glaidler commented on #33
All I would say is update the sample on the blog - this has a blank payerEmail.

[2015-09-23 13:42] lernerb commented on #33
Will do, I've sent an email to Tim to update his blog.

[2015-09-23 13:53] SeraphimSerapis commented on #33
Thanks @glaidler and @lernerb - I've updated the gist to reflect the payerEmail field changes.

[2015-09-24 15:24] rdantonio commented on #28
I apologize for the delay in response, I haven't had a chance to revisit this until today. I did test the multiple scenario case and it does appear to work properly now, so feel free to mark resolved!

[2015-09-24 15:30] lernerb commented on #28
No problem, thanks for confirming! Let us know if you run into any other issues!

[2015-09-24 15:31] #28 closed

[2015-09-24 15:39] rdantonio commented on #28
Actually, quick question regarding the Number: what kind of constraints are set on this field besides avoiding duplicate numbers? I'm sending unique numbers every time similar to this: -2144680996 and the return url always returns {Number} instead of having a value. This worked fine previously - has anything changes regarding this?

[2015-09-24 15:44] lernerb commented on #28
For simplicity lets open a new issue while I investigate. Do you want to so
that you become a watcher on the thread?

On Thu, Sep 24, 2015 at 11:39 AM, rdantonio <notifications@github.com>
wrote:

--
Brandon Lerner

[2015-09-24 15:45] rdantonio commented on #28
Sure, no problem

[2015-09-24 15:46] rdantonio opened #34 "Android: Number value constraints question"
Quick question regarding the Number: what kind of constraints are set on this field besides avoiding duplicate numbers? I'm sending unique numbers every time similar to this: -2144680996 and the return url always returns {Number} instead of having a value. This worked fine previously (before 2.5.2) - has anything changed regarding this?

[2015-09-24 15:47] lernerb commented on #34
All I'll need for this: are you using v1/ or v2/ of the api, and if so can you include the sideload url up until the {number} part?

[2015-09-24 15:57] rdantonio commented on #34
Sure. I should be using v2:

paypalhere://takePayment/v2?accepted=cash,card&returnUrl=urlscheme://paymentResult?Type={Type}&InvoiceId={InvoiceId}&Tip={Tip}&Email={Email}&TxId={TxId}&Number={Number}&GrandTotal={GrandTotal}&invoice={"paymentTerms":"DueOnReceipt","currencyCode":"USD","number":"-2144680994","discountAmount":"0","itemList":{removed}}

Encoded version which is actually sent (with some s

[2015-09-24 16:08] rdantonio commented on #34
This is what I receive from PPH (I changed the InvoiceId but it is what I would expect). Could it have something to do with the Email also being blank?

urlscheme://paymentResult?Type=CASH&InvoiceId=PAYPALGENERATEDINVOICE&Tip=0&Email={Email}&TxId=&Number={Number}&GrandTotal=0.98

[2015-09-24 19:16] lernerb commented on #34
Thanks, was able to reproduce. I've committed the fix for this and it should be going out in our next build.

{Number} should now properly (again) get replaced using the v2 API. I'll keep this thread updated when I get the next release info.

[2015-09-24 19:27] rdantonio commented on #34
Great, thank you very much!

[2015-09-24 19:29] lernerb commented on #34
your welcome. :+1:

[2015-09-24 19:30] rdantonio commented on #22
This now appears to be working on Android as of the latest version. Thank you!

[2015-09-24 20:02] lernerb commented on #22
Closing as {GrandTotal} is release on 2.5.1 of Android. Thanks.

[2015-09-24 20:02] #22 closed

[2015-10-08 03:32] EddieLukeAtmey opened #35 "iOS: Paypal here side loader doesn't open paypal here app."
This happened just recently. I used the exactly same code as the sample provide, and used to have no problem with it.

I'm not sure when, but about less than 1 month ago, a customer told us it no longer work. So, I test on my device (which was also working as expected before), and instead of popup to the paypal here app, it show the app store link to paypal here. Not sure what to do here. Please h

[2015-10-08 03:41] jaredegan commented on #35
Hi, that's a very strange behavior. Can you show where you actually open `pphUrlString`? Sorry but I have to ask, are you sure PayPal Here is installed? Have you launched the app on your device at least once?

Assuming your code and integration is correct, one workaround I would suggest is:
- Delete PayPal Here from your device
- Download PayPal Here from the app store
- Launch PayPal Here
- Try y

[2015-10-08 03:57] EddieLukeAtmey commented on #35
Hi jaredegan, here is the code right after those I post above:

NSURL *pphUrl = [NSURL URLWithString:pphUrlString];

    NSLog(@"%@", pphUrlString);

    UIApplication *application = [UIApplication sharedApplication];
    if ([application canOpenURL:pphUrl]){
        [application openURL:pphUrl];
    }
    else {
        [application openURL:[NSURL URLWithString:@"itms://itunes.apple.com/us/app/pa

[2015-10-08 04:20] EddieLukeAtmey commented on #35
Now it's working again? I'm not sure what to do with this :/

![4cuol](https://cloud.githubusercontent.com/assets/10751944/10357627/6dbc9ccc-6dae-11e5-9624-87cc551de76c.jpg)

[2015-10-08 14:10] rdantonio commented on #35
iOS 9 now requires that apps declare the query schemes that they want to open. Did you add this key to your info plist?

    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>paypalhere</string>
    </array>

I'm not sure how this will affect PPH though since they can technically open any URL scheme passed by the callback URL...

[2015-10-08 14:24] jaredegan commented on #35
@rdantonio, just to clarify, that's a question for @EddieLukeAtmey right?

PayPal Here has not been delivered to the app store being built with the iOS 9 SDK yet, so any iOS 9 changes on our side would not affect the app as it is today.

I just did some experiments with this, deleting and reinstalling PayPal Here. Found some failures of Safari to open the URL, but I couldn't get it to be totally c

[2015-10-08 14:38] rdantonio commented on #35
Correct, my comment was an offer of a solution for him (since he reopened it) as I had to put the same change in for it to work with our application.

The issue I found with our application was related to the canOpenUrl call, which will ALWAYS fail if that key is not included in the plist, therefore it would always redirect to the app store, even if the application is installed.

[2015-10-08 16:23] EddieLukeAtmey commented on #35
@rdantonio I've just checked, yeah probably that was the cause. I haven't include that key to the info.plist. I'll fix this right away.

@jaredegan Thank you for your information. Also, yeah, I reopened the issue because I'm unsure if this will really work, then it turn out that I was testing on iOS 8.4. The real problem is probably as @rdantonio  said.

So, I'll check this asap. As for now, I'll

[2015-10-08 16:23] #35 closed

[2015-10-09 03:18] EddieLukeAtmey commented on #35
@rdantonio Wow! It's fixed! Yes you're right, it happened because the key wasn't included. It's only occur in iOS9. Thanks for your help!

[2015-10-09 03:25] jaredegan commented on #35
Thanks for the insight @rdantonio, we'll update our docs.

[2015-10-12 17:56] lernerb commented on #34
@rdantonio we've released `Android Version 2.6.0` and it should be available to everyone on the GPS. Can you confirm the fix works for you?

[2015-10-24 19:59] cristoslc commented on #26
Sorry for the long delay, I still haven't had time to circle back to this. However, a colleague experienced a similar encoding issue with a different platform and found the culprit to be an unencoded `=` sign in the Base64 output from FileMaker. As I had not been performing additional validation on the encoded output, I suspect my issue was the same.

His solution was to manually URL-encode the `=

[2015-10-24 19:59] #26 closed

[2015-10-29 02:01] friedtofu opened #36 "Call back URL does not work on iOS 9"
I think due to the security changes on iOS 9, Paypal Here app never seems to invoke the call back from my app. You can write a sample test using the here-sideloader-api-samples using any protocol to see whether this is true or not upon a successful transaction.

[2015-10-29 03:04] jaredegan commented on #36
PayPal Here is not yet compiled with the iOS 9 SDK, so the new security changes should not affect it.

Did you have something working beforehand? If you share the URL you're using to open PayPal Here, we can provide some support.

[2015-11-17 04:41] jaredegan commented on #36
Hi, no other users have mentioned any issue with iOS 9 & sideloader. Were you able to resolve this issue?

[2015-11-20 16:44] #36 closed

[2015-11-20 16:48] jaredegan commented on #34
Closing for housekeeping purposes, please reopen if you still have an issue.

[2015-11-20 16:48] #34 closed

[2015-12-30 12:03] EddieLukeAtmey opened #38 "Set tax rate BEFORE DISCOUNT"
So, my iOS app is design to set the tax rate before discount, but when I tried using pph, sending an invoice with both discount and taxRate, it'll always be tax after discount.  Therefore, the grandTotal will be incorrect from my original order (tax after discount would < tax before discount). How can I fix this? Should I have to recalculate my taxRate base on the discount??????

[2015-12-30 12:32] EddieLukeAtmey commented on #38
As for now, I'm tending to use a work-around solutions:

Remove taxRate (taxRate = 0), add unit taxAmount to unit price and send invoice to pph. I don't think it's a good practice, but we're running out of time (submit app schedule). At least, suggest me another work-around that is better. Thanks.

[2015-12-30 16:42] jaredegan commented on #38
There's currently no mechanism to control the order of these calculations. Your workaround sounds fine in my opinion. Another thing you could do that might look cleaner is to take the total of all the tax and add it as a new item called "Tax". That way the breakdown will still show tax as tax and your unit prices will seem more consistent.

[2015-12-30 16:53] djMax commented on #38
Just to make sure I understand - can you provide an example with real numbers and totals? I agree with Jared that your workaround sounds ok, but there might be other ways to get it to do what you want. With real numbers I can run some tests over here and see.

[2015-12-30 17:01] EddieLukeAtmey commented on #38
Thanks Jaredegan for your workaround solution. After discussed with my manager, we decide over my solution. I think paypal here should have an option to set tax AFTER or BEFORE discount.

@djMax Okay, here's some real numbers of my case:

Name          Price          Tax       Qty           Total
productA     500             10%      1              550
productB     1                 10%      1

[2016-01-04 17:07] djMax commented on #38
Sorry for the slow reply... So, I think a field called "taxCalculatedAfterDiscount" should fix this (at the invoice level). It should be passed as true for your desired result. Can you let me know if that works.

[2016-01-05 04:16] EddieLukeAtmey commented on #38
@djMax WOW! It really does work. Only that the desired in my case is set "taxCalculatedAfterDiscount" = false. Thank you so much. We've already submit the app that have the workaround solution, so we'll include this fix in the next version.

[2016-01-05 04:16] #38 closed

[2016-01-17 21:41] shankiesan opened #39 "Android crash on all paypalhere:// URLs"
I'm building a React Native app that processes payments in PayPal Here. Unfortunately Here is crashing regardless of what URL I send it, regardless whether it's a full invoice or simply `paypalhere://takepayment`. I'm a flummoxed as I've tried it on two devices and I refuse to believe that the API doesn't work at all! I also can't see how it would be anything to do with React Native as it's simply

[2016-01-17 21:53] lernerb commented on #39
What's the stack trace?

Sent from my iPhone

[2016-01-17 23:11] djMax commented on #39
Would he have the stack trace for PPH? Either way, can you give us a full URL that causes it?

[2016-01-17 23:21] lernerb commented on #39
If it's a library issue (ex. New google play services) the stack might
show. Does your app use google play services? If so what version are you
running?

The full url that causes the crash would also be helpful in debugging it,
as max pointed out.

On Sunday, January 17, 2016, Max Metral <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2016-01-18 09:38] shankiesan commented on #39
Thanks for chipping in, guys.

I'm new-ish to native dev so I don't know how to get a stack trace – it certainly doesn't show on-screen. My app isn't using Google Play Services as far as I know. It's a really basic payment-kiosk service.

The app crashes on both my 'proper' URL:

`paypalhere://takePayment?&returnUrl=http%3A%2F%2Fwww.example.com%3F%7Bresult%7D%3FType%3D%7BType%7D%26InvoiceId%3D%7BI

[2016-01-19 18:06] lernerb commented on #39
Can you set up the start of your android sideload with
paypalhere://takePayment/v2?
instead of paypalhere://takePayment? and let us know if it still crashes?

On Mon, Jan 18, 2016 at 4:38 AM, shankiesan <notifications@github.com>
wrote:

--
Brandon Lerner

[2016-01-21 08:36] shankiesan commented on #39
Thanks for the suggestion @lernerb but unfortunately it still crashes.

Any other suggestions?

Do you guys have a test app that I can pull and try to make sure that it's not a device specific problem? I don't think it is (as I've tried on two versions of Android on two different devices), but I just want to be sure.

[2016-01-21 15:14] lernerb commented on #39
The test app is located @ https://github.com/paypal/here-sideloader-api-samples/tree/master/android/v2, which runs a sideload with a native android app.

[2016-01-21 21:44] shankiesan commented on #39
Ok, so the test app works. That's made me go re-investigate my code and it looks like:

`paypalhere://takePayment/v2?` does work, but my full URL causes it to crash. It looks like I've got some bum data in my URL. I'll be able to sort that out, I hope.

Any idea why a bad URL causes it to crash? Perhaps that could be handled a little more elegantly. I'm happy to provide a crashing URL if you'd lik

[2016-01-21 21:55] lernerb commented on #39
Just as a quick test, can you try changing the tax rate to a non-zero rate in your invoice and see if it still crashes? I'll send a message to @SeraphimSerapis and have him redirect to the side-loader documentation. Thanks.

[2016-01-22 14:11] shankiesan commented on #39
Same thing, I'm afraid!

I'll try building up the URL bit by bit this weekend and let you know how I get on. When I find out what kills it, I'll post back here!

[2016-02-07 14:56] bazauto opened #40 "Session Timeout then prompt for password of wrong user"
I'm using the side-loader with my own Android till app and payments are being taken successfully.
I'm using a limited privilege (only Request Money) user in my PayPal account for the till to login to PayPal Here.

I'm not sure if this is an issue with the side-loader or with the PayPal Here app itself. If there is a better place to raise this please let me know.

However we don't take a lot of car

[2016-02-07 17:18] djMax commented on #40
Are you including the limited user account credentials on the URL?

[2016-02-07 17:30] bazauto commented on #40
I do, but they didn't seem to do anything. I'm still prompted to login.

I've got "user=<username>&password=<password>" in the URL. Are these the correct parameter names?

[2016-02-07 18:03] djMax commented on #40
Sounds like a bug on our side. Let me check with the team on Monday.

[2016-02-07 21:32] shankiesan commented on #15
Has there been any progress with this? I'm interested in the same feature as I'm making a semi-unmanned payment kiosk for a charity. Thanks!

[2016-02-07 21:33] shankiesan commented on #39
Hi guys, finally got around to squashing this.

The problem was the `&as=b64` component of the URL – removed this and it works!

[2016-02-07 22:05] shankiesan commented on #27
+1 for this. Ideally, I'd also like the option for the 'charge' button to be hit so that the user is simply presented with a "insert your card" screen – and nothing else. Cancelling at this point would force the app to open the return URL.

[2016-02-07 22:18] #39 closed

[2016-02-16 17:30] bazauto commented on #40
Did you find anything related to this?

[2016-02-27 19:07] tadeegan commented on #24
My account didn't get approved for Paypal here so I can't even test it. Very frustrating.

[2016-03-01 18:28] latheesan-k opened #41 "PayPal Here is not returning back to my app"
I am using Titanium Appcelerator to build an iOS application that lets users charge their customer using PayPal Here sideloader api.

I open the paypal here app like this:

[code]

This correctly opens the paypal here app with my basket contents (i.e. invoice lines).

I am able to select card payment type, enter my details and charge. Once the transaction is completed, I click *No Receipt*, but no

[2016-03-01 21:23] djMax commented on #41
If you set the returnUrl to be a web page - like www.google.com or some such, what happens? Also, what if your return URL is myappurlschema://takePayment/ without the result bit?

[2016-03-01 21:25] latheesan-k commented on #41
Hi.

Nothing happens. I've already tested this.

Sent from my iPhone
- Latheesan

On 1 Mar 2016, at 21:23, Max Metral <notifications@github.com<mailto:notifications@github.com>> wrote:

If you set the returnUrl to be a web page - like www.google.com<http://www.google.com> or some such, what happens? Also, what if your return URL is myappurlschema://takePayment/ without the result bit?

-
Reply to

[2016-03-02 10:11] latheesan-k commented on #41
After many hours of trial and error, I sort of have a semi-working version now. This is what I have so far:

[code]

With the above; when code executes, this is the flow:

1. PayPal Here App opens
2. Select "Card" payment type
3. Enter details & click "Charge"
4. I get a success message with option to print/text receipt etc...
5. Clicking on "No Receipt"  -> nothing happens, i see another success

[2016-03-17 10:29] quanvh3 opened #42 "Crash on return to app"
I'm using Paypalhere sideloader on Android, but after completed payment, i assume that press to "new order" will bring me back to my app but it always crash. Here are the stack trace, please verify for me if there is any missing paramter for the input :
 Caused by: java.lang.NullPointerException: replacement == null
            at java.lang.String.replace(String.java:1223)
            at com.paypa

[2016-03-17 13:51] lernerb commented on #42
Can you provide us with an example sideload that you are sending that reproduces the crash?

Feel free to obfuscate any personal information.

Sent from my iPhone

[2016-03-20 12:25] shankiesan commented on #42
+1 on this issue for me. I have this issue regardless of the URL

Here's my sideload URL:

`paypalhere://takePayment/v2?returnUrl=http%3A%2F%2Fgoogle.com&invoice=%7B"merchantEmail"%3A"bookings@example.com"%2C"itemList"%3A%7B"item"%3A%5B%7B"name"%3A"something"%2C"description"%3A"something"%2C"quantity"%3A"1.0"%2C"unitPrice"%3A5%2C"taxName"%3A"Tax"%2C"taxRate"%3A"1"%7D%5D%7D%2C"currencyCode"%3A"GBP"

[2016-03-21 03:26] quanvh3 commented on #42
Here is my request for paypal here sideloader :

paypalhere://takePayment/v2?accepted=cash%2Ccard%2Cpaypal&returnUrl=myreturnurl%3A%2F%2FtakePayment%2F%7Bresult%7D%3FDone%26PaymentType%3D%7BType%7D%26InvoiceId%3D%7BInvoiceId%7D%26TxId%3D%7BTxId%7D%26GrandTotal%3D%7BGrandTotal%7D&invoice={"currencyCode":"€","discountPercent":"0.0","itemList":{"item":[{"description":"4fasd5f5","name":"The Get Up Kid

[2016-03-21 08:50] shankiesan commented on #42
That's interesting @quanvh3 . You haven't URL-encoded your JSON, which it probably isn't going to like as there are characters in there which are invalid in a URL. This makes me thing that somehow my URL also isn't valid.

@lernerb any thoughts?

[2016-03-21 09:52] quanvh3 commented on #42
That was my bad, everything work nicely after i encoded my json invoice.

Thanks @lernerb , @shankiesan for your support.

[2016-03-21 09:52] #42 closed

[2016-03-21 10:17] shankiesan commented on #42
Ah but my problem still isn't solved! :smile:

What's wrong with my invoice.

You're welcome @quanvh3

[2016-03-21 10:33] quanvh3 commented on #42
@shankiesan

Is this your final url to sent to Paypal, i still can see " in your uri. Otherwise u might just provide your final uri to see if anything goes wrong.

Mine look something like this :

paypalhere://takePayment/?accepted=cash%2Ccard%2Cpaypal&returnUrl=myreturnurl%3A%2F%2FonHandleResult%2F%7Bresult%7D%3FDone%26PaymentType%3D%7BType%7D%26InvoiceId%3D%7BInvoiceId%7D%26TxId%3D%7BTxId%7D%26G

[2016-03-21 10:42] shankiesan commented on #42
Hmm that might be it. Yes it doesn't seem to be replacing my double-quotes.

I'll have a look at that.

[2016-03-21 12:08] lernerb commented on #42
Sorry I missed all those messages, it was 4am on the east coast! Try
properly URL encoding, the "" shouldn't be there. If it still crashes after
that I can take another look.

On Monday, March 21, 2016, shankiesan <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2016-03-21 13:20] shankiesan commented on #42
Yeah, the `"` definitely look wrong. I'll try reencoding and get back to you. Will be later this week!

Thanks for your help @lernerb

[2016-03-25 02:45] RandomArray commented on #27
+1

[2016-05-05 02:49] RandomArray opened #43 "notify_url option for custom IPN notification URLs"
Would it be possible to include support for `notify_url` so that call through the side loader could notify a custom `notify_url`?

https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/Appx_websitestandard_htmlvariables/

[2016-06-29 15:45] zackmartin9333 opened #44 "what should we do now???"

[2016-07-11 02:13] kfujino7 opened #45 "v2 transaction crashes if "number" field is not included in the invoice."
I'm currently migrating my app (android) to use v2 endpoint from v1.
Looking following URL, the "number" field in the invoice is optional and it was working on v1 without it.
https://developer.paypal.com/webapps/developer/docs/classic/api/invoicing/CreateInvoice_API_Operation/

However if I just changed my access url from "paypalhere://takePayment" to "paypalhere://takePayment/v2?", then on the pa

[2016-07-11 05:58] kfujino7 opened #46 "PPH remains in the activity stack after payment process. (v2.6.2, didn’t happen before)"
When returning from the PayPal Here app to my own application ( by clicking the “You’re all done” green icon on the paypal here app.), previously the PPH app finishes by itself and user can continue to work on my app, but with current 2.6.2 , PPH app remains in the activity stack and user can’t go back to my app unless logout from the PPH app.

After returning from the PPH app, my app shows the Pa

[2016-08-22 09:57] mcn100 opened #47 "Time field in Sales History returning 12:00 PM"
After taking a card payment using the sideloader api the time field in the PaypalHere App Sales History list is incorrectly  showing 12:00PM.
Taking cash payments returns the correct time.
Same for iOS or Android - v2.6.2
The correct time is shown in the transaction history when viewed on  paypal.com account.
Any help appreciated.

[2016-08-30 18:58] jones98 commented on #40
@bazauto @djMax  Hi Paul, Been looking everywhere on how to pass username and password in the url with no joy so far. One I have tried is var pphereUrl = "paypalhere://takePayment/v2?returnUrl=user=myrestrictedusername&password=mypassword" + retUrl;

Could you share how this is tagged into the URL? Here is a clean Codeen with default code http://codepen.io/anon/pen/qaWXKd

[2016-08-30 19:57] bazauto commented on #40
Hi,

Here is the URL I'm using, although it doesn't seem to work as the login screen still appears. Just a slightly different order to your parameters.

paypalhere://takePayment/v2?user=myrestrictedusername&password=mypassword&accepted=card%2Cpaypal&returnUrl=...

We have just had to give the staff the restricted account password and taught them how to login and handle the session timeout describe

[2016-09-01 10:53] jones98 opened #48 "Passing restricted username & password to Paypal Here app"
I have this working great with a HTML Android app but the Return URL which loops me back to my app causes Paypal Here to log out/end session even if new sale is clicked.

I have created a new Paypal user with restricted Paypal Here options. So I wish to pass my username and password in the data sent to paypal here to stop me having to log in on each transaction.

pphereUrl = pphereUrl + '&username

[2016-09-08 19:44] jones98 commented on #48
Any ideas on this?

[2016-09-16 09:20] EddieLukeAtmey opened #49 "Unable to get invoice id, number...."
Hi, we're having trouble with getting the invoice id, taxId, number id.... and after checking your site (web-sideload), I've found out the reason:

The return URL need to fully encode to percent character. Hence, in your sample code, this won't get us the all the params we need (invoice id, tax id...)

`NSString *encodedReturnUrl = [@"myapp://handler?{result}?Type={Type}&InvoiceId={InvoiceId}&Tip=

[2016-11-16 16:59] REDDFS opened #50 "IOS app returning Invoice ID for declined payments"
Version 2.6.11 of the Paypal Here app on IOS is returning a non empty Invoice ID in the return url for declined payments.
Therefore there is no way to determine if a payment was successful or not purely from the return url.

[2016-11-24 10:41] RandomArray opened #51 "This transaction could not be completed"
My app worked months ago during testing. So much that they temporarily banned my card because of doing too many refunds to quickly.

Now, when I attempt to make a customer purchase I get the error `This transaction could not be completed`. The customer tried with two different cards.

I called PayPal and they see nothing on their side. The payment never went that far?

The cards swipe fine. I just

[2017-06-09 06:30] umairqureshi6 opened #52 "didn't find any cancel button to cancel transaction and move back to my ios app"
i am using paypal here sideloader api for ios app
using the sample provided

after moving to Paypal here ios native app, i am on the charge screen
didn't find any cancel button to cancel transaction so that i can move back to my app

secondly, after completing transaction, i didn't get any return url response

<img width="537" alt="screenshot 2017-06-05 14 31 09" src="https://user-images.githubuse

[2017-06-23 14:33] glaidler commented on #48
According to PP, the auto-login feature was deprecated in a version released in March 2017.  No advance notification, and if the code was still there, it helpfully crashed the app.

[2017-06-23 14:42] lernerb commented on #48
@sozel ^

[2017-06-23 14:48] glaidler commented on #48
If it helps your internal processes, as this caused us no-end of grief from several customers, email respose from merchant technical support

---------------------------------------

Response Via Email(Andrea) - 03/31/2017 10:06 AM
Hi Graham,

After the check with our engineers results that the automatic password log-in functionality was deprecated because of security reasons.

With the new PayPal

[2017-06-23 14:51] glaidler commented on #50
We are getting the same thing.  How can we determine a declined payment?

[2017-06-30 06:23] Pivovar63 commented on #50
@REDDFS
I have Type=CHIP and not empty InvoiceId if payment declined. Type is not actually UNKNOWN. This is a bug.

[2017-06-30 09:23] REDDFS commented on #50
@Pivovar63  That's interesting, their documentation definitely seems to suggest that UNKNOWN should be the type for cancelled and declined payments.

Is there anyway you could tell me the steps to replicate the response you're seeing?  (I'll re-open this issue and hope we can get an official response on the expected return for declined payments)

[2017-06-30 09:40] Pivovar63 commented on #50
@REDDFS
I make a request like this:
`paypalhere://takePayment?accepted=cash%2Ccard%2Cpaypal%2Cinvoice%2Ccheck&returnUrl=<my_return_url_scheme_and_host>%3FType%3D%7BType%7D%26InvoiceId%3D%7BInvoiceId%7D&invoice=<invoice_info>&step=choosePayment"`

Then I'm trying to pay with chip credit card in my card reader, enter PIN, but transaction is cancelled (I don't know why). And here what I have in the r

[2017-06-30 09:59] REDDFS commented on #50
@Pivovar63 Thanks for that (your request is pretty much the same as mine so I can only attribute the difference in behaviour to OS and app-version),  could I also check what OS you're using (IOS or android) and what version of the app you're using?

[2017-06-30 10:05] Pivovar63 commented on #50
@REDDFS Of course. I use iOS and latest PPH application v2.8.4

[2017-07-24 07:22] glaidler commented on #50
This behaviour has reverted to being broken.  Declined payments now have a Type param of "CHIP".  Using iOS and latest version of app.

[2017-09-12 18:35] joshucar commented on #50
Reporting in that I'm still seeing this issue, exactly as described above. Any update?

[2017-09-13 02:53] kfujino7 commented on #46
Tested with 2.8.3 and works as expected.

[2017-09-13 02:53] #46 closed

[2017-09-13 02:54] kfujino7 commented on #45
Tested with PayPal Here 2.8.3. The payment went through successfully with or without "number" field.

[2017-09-13 02:54] #45 closed

[2017-10-06 06:47] yogeshg1 commented on #33
Hi,
@glaidler and @lernerb and @hkc3
We are getting error please send me solution .
[error] => Array ( [0] => PayPal\Types\Common\ErrorData Object ( [errorId] => 580022 [domain] => PLATFORM [subdomain] => Application [severity] => Error [category] => Application [message] => Invalid request parameter: institutionId with value AP-6HK8380245497430W .

Thanks

[2017-11-14 20:58] cdewberry opened #53 "PayPal Here crashes on return to calling app after credit card payment"
I'm building the v2 here-sideloader-api-sample Android app with Android Studio - unfortunately PPHere is crashing on return to the sample app IF I HAVE SWIPED a credit card (or entered in a card number). Accepting cash or canceling payment returns me to the sample app. The invoice amount is deducted from the payee and added to the merchant, but when I tap 'New Sale', PayPal Here crashes. I tried t

[2017-12-02 01:59] bfleishman opened #54 "Code Broke With PayPal Here Version 3.0.2"
I integrated this code into my web app a couple years ago and it has been working great! However when I updated my PayPal Here app recently on my iPad to version 3.0.2, the integration stopped working.

I receive an error in my my PayPal app and it initial open from the URI encoded link that says the following:

**Invalid Link
The link that you opened was not correctly formatted. Please check with

[2017-12-05 08:18] Grismy commented on #54
Same problem.
It looks like something changes in the request format, but I can't find any documentation about it.

[2017-12-05 11:01] Pivovar63 commented on #54
Yes, the same. And no answer from Paypal technical support.

[2017-12-05 14:13] bfleishman commented on #54
Gave up and switched to the Square web API instead. Works the same and has better [documentation](https://docs.connect.squareup.com/articles/web-api-ios ) and support. Got immediate help with implementation through their [stack-overflow forum](https://stackoverflow.com/questions/tagged/square-connect) as well.

If you need assistance I can help with the little bit of knowledge I've gained implemen

[2017-12-12 16:16] paypalsathya commented on #54
Yes, in the latest version of the app, sideloader was broken. We have implemented the required fixes on the PayPal Here app to support this going forward.
The app should be available on the app store end of this week or early next week.

Apologies for the delayed response 😞

[2017-12-12 16:18] paypalsathya commented on #53
We are looking into this issue and will get back to you.
Chances are, sideloader might be broken in the latest release of the app.
We are working on a fix and should be made available next week.

Apologies for the delayed response 😞

[2017-12-12 16:36] cdewberry commented on #53
That would be great! I'll be looking forward to it.

Caroline Dewberry
Software Engineer
Book Systems, Inc.
(256)533-9746

On Tue, Dec 12, 2017 at 10:18 AM, paypalsathya <notifications@github.com>
wrote:

[2017-12-15 04:38] paypalsathya commented on #54
The latest PayPal Here app should now be available on the app store. Please download that and try out your sideloader application. Should be working now 😸

[2017-12-15 04:46] paypalsathya commented on #52
Hi,
I dont think we have a way (yet) to bring you back to your app without completing your transaction. We can perhaps think of adding this feature in the future :)

For your second question, all you would need to do is provide us with a valid URI (either native or web) and our application would simply invoke it, bringing the control back to your application.

[2017-12-15 08:27] Grismy commented on #54
It works! Thanks.

[2018-02-16 11:49] glaidler commented on #54
This is still broken.  After updating app, I am getting consistent DECLINED.  **This happens with your sample HTML page as well as my own implementation**.  Please can you advise urgently?

I am using v3.0.6 and using web sideloader api.

[2018-03-08 21:56] atarsha opened #55 "Sideloading only works on first load of Paypal Here app"
When I try to sideload the Paypal Here app, it works if the app isn't running, however if the app is already running it opens the app, but does not load the passed in invoice.

My workaround is killing Paypal Here after every transaction. This is clunky. Is this a bug?

@paypalsathya

[2018-03-15 22:03] atarsha commented on #55
@paypalsathya is this API still supported? Can we get some assistance, or do we need to look for another solution?

[2018-03-15 22:36] MggMuggins commented on #55
Do you need to go through the whole payment in order to get this behavior or will it also do that if you "Clear Sale"?

[2018-03-15 22:40] atarsha commented on #55
@MggMuggins it doesn't seem to matter. If I open PPH, then open my app and press the button to sideload, no invoice. If I completely kill PPH and then open my app and press the button it works.

In other words, if PPH is already booted, regardless of state, the sideloading does not initiate a new invoice.

[2018-03-15 22:42] MggMuggins opened #56 "Base64 Encoding"
In general the documentation is not very clear on what needs to happen to any component of the url or how to base64 encode the URL. The Sample only illustrates Uri encoding, which is pretty straightforward. Are there any special flags that need to be passed to `android.util.Base64.encodeToString()` in order for this to work? Right now I'm using `Base64.URL_SAFE | Base64.NO_WRAP | Base64.NO_PADDING

[2018-03-15 22:46] MggMuggins commented on #55
That's strange, It works on my device. Are you sure your code is sound? This is mine (Assuming `pphUrl` is a valid Url):
[code]
This interface is just weird in general.

[2018-03-15 23:00] atarsha commented on #55
@MggMuggins interesting. I wonder if this an iOS only issue.

Here is my code (React Native, so JavaScript feel:)

[code]

Like I said, it works when PPH isn't already running so I would imagine that means my URL is correct.

[2018-03-15 23:02] MggMuggins commented on #55
You could try Base64 encoding your JSON, I don't know how much good it would do, but maybe worth a shot.

[2018-03-15 23:13] atarsha commented on #55
@MggMuggins I'll give that a whirl tonight and see if it makes any difference, then report back.

[2018-03-15 23:16] MggMuggins commented on #55
Note that I passed a few flags to the base64 encoder so that it doesn't break up the output with newlines, makes it url safe, and remove padding at the end. You can see those (for android, :/) in #56

[2018-03-16 05:54] atarsha commented on #55
I suspect this might be iOS only since it seems to be working for you. I tried Base64 as well, and verified against https://github.com/paypal/here-sideloader-api-samples/blob/master/docs/sample.html

Still behaves as described above.

[2018-03-29 01:12] snehanshuashar commented on #54
The payments are being declined because if there is a phone number, then the country code is also a required field. To keep things simple and fix the issue, you could skip the payerPhone part from the pphereUrl: https://github.com/paypal/here-sideloader-api-samples/pull/57/files#diff-63649daa8f3846155161473034fdf217R21

[2018-04-05 12:50] angelleye opened #58 "Windows 10 - SurfaceBook Support..??"
The web-based sideloader does not trigger on a SurfaceBook running Windows 10..??

[2018-04-05 12:52] angelleye opened #59 "Auto-return to app after successful payment."
Right now the only way to trigger anything after a payment is successful is on your return URL, but this is dependent on the user clicking the "New Sale" button in the Here app after the sale is complete.  If they don't push that button we can't trigger any post-payment processing calls, and our database does not update the order status properly.

Would be good to at least do an auto-return, or se

[2018-04-25 07:46] glaidler commented on #54
This worked for me. thanks

[2018-04-25 07:48] glaidler commented on #59
+1

[2018-04-25 07:52] glaidler opened #60 "Explicit documentation of what a "Declined" return url will look like"
Hi, I am getting mixed information about what the sideloader return URL will look like when a card is declined.  Can you add this to the documentation and point me to it?

[2018-04-25 14:10] DJ92 commented on #60
We'll shortly update the documentation with the returnURL piece. Thanks

[2018-04-30 09:01] glaidler commented on #60
Hi, any news on this; even just let me know as part of this issue; I am not reliably getting informed when a payment is declined and this is a big problem.

[2018-05-19 18:51] DJ92 commented on #60
Hi, This has been fixed for both Android and iOS Apps. It will be released in our upcoming PPH app releases.

[2018-05-19 18:51] #60 closed, assigned to nobody

[2018-05-19 18:52] #54 closed

[2018-05-22 12:44] glaidler opened #61 "3.0.81 (308108) breaks sideloader api"
Yet again, the latest release has broken the sideloader (js) api.  The symptom is that the amount isn't transferring.

This product needs some serious attention on it, as in it's current state not fit for purpose.

[2018-06-26 15:42] massimilianoregis opened #62 "solution"
The problem is only around the item's value.

change the numeric value in real number and everything will work
"itemList": {
        "item": [
            {
                "taxRate": 8.5000,
                "name": "Curtains",
                "description": "Blue curtains",
                "unitPrice": 29.99,
                "taxName": "Tax",
                "quantity": 1
            }
        ]

[2018-08-09 18:48] dooms99 opened #63 "Is Sideloader API operational with the Paypal Here 3.2.4"
Our app first broke when updating to 3.081.  It would call the app but typically not populate the transaction value.   If it would populate the value it stopped returning to the application (and returing the payment status) when choosing New Sale.   Should this be functioning at this point.  I don't see any response to the breakage at 3.0.81 post so I am assuming it is misbehaving in some way in t

[2018-08-09 19:35] DJ92 commented on #63
Hey @dooms99 , The behavior you're mentioning should be working in the latest app release. We had an issue where the transaction ID/auth code value wasn't getting returned in the return URL. This has been fixed and is currently being throttled out to all users in v3.2.3 (323001). Thanks

[2018-08-09 19:35] #63 closed, assigned to nobody

[2018-08-15 04:34] ghost commented on #63
@DJ92 We're trying the latest version (3.2.3 for iOS) after also having our application broken since 3.081.  When we click "New Sale" after the process is complete, the user still isn't returned to our application, but instead has the PayPal Here app try to start a new transaction within PayPal Here.  Any suggestions?  Thanks for your time.

[2018-08-16 13:45] DJ92 commented on #63
Hey @EventRebels, I have tested this thoroughly and seems like the returnURL works as desired. Can you check your returnURL matches the format of the sample txn that I just did today? Eg:
http://mysterious-caverns-98085.herokuapp.com/handler.php?Type={Type}&InvoiceId={InvoiceId}&Tip={Tip}&Email={Email}&TxId={TxId}&Number={Number}&accepted=cash,card,paypal&step=choosePayment&invoice={"itemList":{"i

[2018-08-16 13:46] #62 closed, assigned to nobody

[2018-08-16 13:46] DJ92 commented on #61
Hey @glaidler, Sorry to hear about the problems being caused in the past few releases. The latest v3.2.3 release is working as desired. If there are any concerns, do let us know.

[2018-08-16 13:46] #61 closed, assigned to nobody

[2018-08-16 13:48] DJ92 commented on #59
Hey @angelleye @glaidler , we've duly noted webhooks as a feature on our roadmap. We'll keep you updated once we've prioritized those for our PPH SDK and App.

[2018-08-16 13:48] #59 closed, assigned to nobody

[2018-08-16 13:50] DJ92 commented on #56
Hey @MggMuggins , We advise to use the `Base64.NO_WRAP` for this option.

[2018-08-16 13:50] #56 closed

[2018-08-16 13:51] DJ92 commented on #55
Hey @atarsha @MggMuggins, our latest release v3.2.3 is working as desired now. Feel free to raise any concerns you may have, if any.

[2018-08-16 13:51] #55 closed

[2018-08-16 13:52] DJ92 commented on #53
Hey @cdewberry , this has been fixed in the latest release v3.2.3. Let us know if you have any questions/concerns.

[2018-08-16 13:52] #53 closed

[2018-08-16 15:02] MggMuggins commented on #55
That's good to hear. I'll give it a few tries at some point and get back.

[2018-08-21 14:47] ghost commented on #63
@DJ92 We were able to get everything working again, thanks for the new release

[2018-08-21 19:25] DJ92 commented on #63
@EventRebels That's good to hear!

[2018-10-04 20:31] dooms99 commented on #63
So in real world testing we have found that after doing a couple of transactions they begin to fail if done through the sideloader api but are successful if done directly.  This has happened across numerous events for us now.  Any suggestions to look at that would cause this type of behavior?

[2018-10-04 20:37] dooms99 opened #64 "See Issue #63"
So in real world testing we have found that after doing a couple of transactions they begin to fail if done through the sideloader api but are successful if done directly. This has happened across numerous events for us now. Any suggestions to look at that would cause this type of behavior?

[2018-10-16 16:08] glennmurley15 opened #65 "Transaction Cancelled upon pin entry"
Hi,
Written a code sample to sideload a payment into PPH, and anytime I sideload, after pin entry, I get "Transaction cancelled", then the PPH app sends decline response to my app.

(All code in JS - cordova)

[code]

[2018-10-16 23:13] glennmurley15 commented on #65
After many hours of debugging, and reading the docs a thousand times, I spotted that I removed the tax name but not the tax rate.
Docs say if you use one, you must use both.

However, new issue,
On payment decline and success, the return URL comes back the same, with no type value at all (completely empty), but returns Number and GrandTotal everytime.
I have tried many different formats for URL (b

[2018-10-17 18:39] DJ92 commented on #65
Hey @glennmurley15 , as per my knowledge and the here-sideloader-sample repo, the `type=UNKNOWN` is returned on all declines. For success scenarios, it comes back with the type of sale `CARD`, `CASH`, etc. and this was fixed in the latest PPH App Release. Let me know if you're still facing the issue.

Thanks!

[2018-10-17 19:18] glennmurley15 commented on #65
Both success and decline return to this URL (first is decline)
Notice how the parameter Type is completely empty.

myapp://takePayment/??Type=&tx=2018-10-17-2014-1108&total=4.2
myapp://takePayment/??Type=&tx=2018-10-17-2016-1108&total=1.05

This behaviour is the same, even if I don't include `{result}?`

This is using PPH app v3.3.1 (331000)

[2018-10-17 20:19] DJ92 commented on #65
Hey @glennmurley15, our new version v3.4.0 is currently being throttled out. It should have the fix you are looking for. Thanks for your patience.

[2018-10-17 20:45] glennmurley15 commented on #65
Just reloaded app store, and v3.4.0 is available.
Same behaviour after update.

Empty Type value.

[2018-10-19 13:22] DJ92 commented on #65
Hey @glennmurley15 , thanks for raising this. Success does come back with `Type=CARD`. We're working on declines and should be fixed with our upcoming app release. Apologize for any inconvenience caused.

[2018-10-23 11:51] glennmurley15 commented on #65
After a couple of days of installing 3.4.0 it has started returning Type=Card

I am guessing the app has microsoft codepush integrated as it was definitely returning empty type after the initial update, and something has been tweaked and pushed remotely.

Since it started returning Type=Card the behaviour has been consistent during use, so I am happy to close the issue and confirm it as fixed.

[2018-10-23 11:51] #65 closed, assigned to nobody

[2018-10-23 13:53] DJ92 commented on #65
Thanks! Glad it worked @glennmurley15

[2018-12-06 17:15] ppmtscory commented on #64
You'll want to ensure that, if you're supplying your own invoice `number`, that it is unique for every single attempt and also that it doesn't exceed the 25 char limit.  If that's not the case, and you continue to see issues, please file a ticket with our support teams [here](https://www.paypal-support.com/).

[2018-12-06 17:15] #64 closed, assigned to nobody

[2018-12-06 17:17] ppmtscory commented on #58
We've recently decided to remove support for our Windows PPH App so will be closing this issue.  Please consider looking at our iOS and Android solutions.

[2018-12-06 17:17] #58 closed, assigned to nobody

[2018-12-09 06:48] angelleye commented on #58
@ppmtscory Yeah, I noticed that while at an event.  Couldn't get logged in on my Surfacebook and was very confused.  I was actually trying to demo PayPal Here for somebody and it did not go well, obviously.

Was this announced somewhere?  Why are you killing Windows support?

[2018-12-10 18:25] ppmtscory commented on #58
At this time, we're really just trying to double down our focus on platforms that are representative of our customers' choice currently.  Our main focus is iOS and Android at this time but we're working on a browser based SDK that would cater to the Windows folks as well.  More to come on that in Q1 sometime.

[2019-05-02 13:58] glaidler opened #66 "android support"
Hi, is the paypal here app sideloader api supposed to work on Android 8?

We have been using it on iOS for several years, but have just tried on an android tablet.  The sale is processed, but it doesn't call back to chrome when the new sale button is tapped.

[2019-05-02 16:03] DJ92 commented on #66
Hey @glaidler , were you using the correct return URL for Android? It's `paypalhere://takePayment/v2?` as shown here: https://github.com/paypal/here-sideloader-api-samples/blob/master/docs/README.md#sending-an-invoice-to-the-paypal-here-mobile-app

[2019-11-11 21:39] iiummel opened #67 "iOS 13 Compatibility"
Is this URL scheme still supported for the latest iOS (13.2.2) and app (3.7.4) versions?

I was using the example data found [here](https://github.com/paypal/here-sideloader-api-samples/tree/master/docs#sending-an-invoice-to-the-paypal-here-mobile-app). When PPH opens from my app, all the items, payment, and taxes show up correctly. However, when I insert any chip card, the `Do not remove card` al

[2020-01-09 23:48] futurex5 opened #68 "PayPal Here Declining Cash Payment via Sideloaded URL from Filemaker"
I'm originating the invoice info from Filemaker and sending the data to PayPal Here via URL (paypalhere://takePayment?returnUrl=...) the format is fine as PayPal accepts the code and presents a payment screen with the correct amount and invoice line item. However when I choose cash payment and enter the amount the transaction is always declined. "Transaction Cancelled. Unable to process payment" I

[2020-02-22 05:20] hanji866 opened #69 "PayPal Here / Sideloader not using returnURL"
I've been banging my head on this. I'm currently testing with my Android 9 phone / PayPal Here v.3.7.5 and PayPal Here Sideloader API. My initial tests using CC input would create the proper handling with the returnURL passing variables.

I just received my PayPal Here card reader (chip and swipe) and testing with the chip, the returnURL is not being picked up.

I've tried with paypalhere://takePa

[2020-02-22 05:22] hanji866 commented on #41
Running into same problem. This work around didn't work for me. No Receipt to New Sale either does nothing or with v2 will just load the calling site, but not pass anything.

[2020-06-06 18:58] mgpoole opened #70 "Paypal Here app not communicating with card reader"
Using Android, when I use a sideloader url to send an invoice to the Papal Here app, the app works as expected except that it does not display the amount payable on the screen of the (black) card reader. If  a card is inserted it then displays 0.00 and triggers an error in the app. If the sale is cleared using the app, the amount payable then appears on the cardreader screen, but is no longer disp